@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Colors */
	--primaryBlack: #111111;
	--primaryGreen: #1b5b31;
	--primaryGrey: #f5f0ec;
	--primaryBeige: #dcc1ab;
	--primaryWhite: #ffffff;

	/* Fonts */
	--montserrat: 'Montserrat', sans-serif;
	--inter: 'Inter', sans-serif;

	/* Others */
	--headerHeight: 72px;
	--containerWidth: 1262px;
	--masonryMobileGutterWidth: 22px;
	--masonryDesktopGutterWidth: 44px;

	scroll-behavior: smooth;
	scroll-padding-top: var(--headerHeight);
}

@layer base {
	body {
		@apply font-inter text-sm md:text-base;
	}

	p {
		@apply tracking-[-0.16px];
	}

	img {
		max-width: 100%;
	}

	ul > li > a:hover {
		@apply text-primaryGreen;
	}
}

@layer components {
	/* Button */
	.button {
		@apply rounded-full px-6 py-3 duration-200;
	}

	.primaryGreenButton {
		@apply bg-primaryGreen text-primaryGrey hover:bg-primaryWhite hover:text-primaryGreen;
	}

	/* Card */

	.card {
		@apply py-12 px-10 bg-primaryWhite rounded-[28px] lg:hover:shadow-md lg:duration-200 lg:hover:scale-105;
	}

	.card-title {
		@apply font-montserrat mt-8 leading-[115%] font-medium text-[28px] tracking-[-1.4px];
	}

	.card-content {
		@apply mb-[63px] text-sm mt-3 tracking-[-0.14px];
	}

	.card-button {
		@apply flex pb-1 items-center gap-x-[10px] text-primaryGreen relative after:content-[''] after:absolute after:bottom-0 after:w-3/4 after:h-[1px] after:duration-200 after:bg-primaryGreen hover:after:w-full;
	}

	/* Masonry */
	.masonry-background {
		@apply after:content-[''] after:absolute after:bottom-0 after:pointer-events-none after:left-0 after:right-0 after:h-1/2 after:bg-masonry-gradient;
	}
}

.hamburger-button {
	border: 0;
	width: 34px;
	padding: 0.4em;
	display: flex;
	flex-direction: column;
	gap: 4px;
	background-color: transparent;
}

.hamburger-button-bar {
	width: 100%;
	height: 3px;
	border-radius: 1em;
	background-color: var(--primaryBlack);
	transition: 0.3s ease-in-out;
}

.hamburger-button-is-active .hamburger-button-bar-1 {
	transform: translateY(235%) rotate(45deg);
}

.hamburger-button-is-active .hamburger-button-bar-2 {
	background-color: transparent;
}

.hamburger-button-is-active .hamburger-button-bar-3 {
	transform: translateY(-235%) rotate(-45deg);
}

.grid-sizer,
.grid-item {
	width: calc(50% - (((var(--masonryMobileGutterWidth)) * (1 / 2))));
}

.gutter-sizer {
	width: var(--masonryMobileGutterWidth);
}

.grid-item {
	margin-bottom: var(--masonryMobileGutterWidth);
}

.grid-item > img {
	flex: 1;
	object-fit: cover;
	width: 100%;
	cursor: pointer;
	transition: 200ms;
}

.grid-item > img:hover {
	transform: scale(1.01);
}

.grid-item-hidden {
	display: none;
}

@media screen and (min-width: 1024px) {
	.grid-sizer,
	.grid-item {
		width: calc(33.33% - (((var(--masonryDesktopGutterWidth)) * (1 / 3) * 2)));
	}

	.gutter-sizer {
		width: var(--masonryDesktopGutterWidth);
	}

	.grid-item {
		margin-bottom: var(--masonryDesktopGutterWidth);
	}
}
